@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// font-family: 'Amatic SC', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Ruthie', cursive;
// font-family: 'Shadows Into Light', cursive;
.active {
  border : 3px solid red;
}
body{
  background-color: rgb(209, 209, 209);
  background:  rgba(74, 74, 96, 0.584)!important;
  background-size: cover;
  color: #ccc;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}
h1{
  font-size: 3.5rem;
  letter-spacing: 10px;
  color:lightgrey;
  // font-family: 'Amatic SC', cursive;
  font-family: 'Shadows Into Light', cursive;
}
h2{
  font-size: 6rem;
  color: rgba(74, 74, 96, 0.584)!important;
  margin: 2rem;
}
.navbar, footer {
  background-color: rgba(74, 74, 96, 0.584)!important;
}
.navbar-brand {
  color: white;
}
.navbar-toggler{
  border-color: pink !important;
}
.nav-link {
  font-size: x-large;
  text-align: right;
  margin-left: 2rem;
  padding-top: 30px;
}
.navbar-light .navbar-nav .nav-link, .nav{
  color: ghostwhite;
}
.myContainer{
  margin: 4rem;
}
.footerContainer{
  width: 100%;
  padding: 2rem;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap{
  padding-bottom: 2.5rem;    /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
.print-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card h2{
  font-size:3rem;
}
.card p{
  color:rgb(80, 78, 78);
}
@media(min-width: 1200px){
  h1{
    font-size: 5rem;
  }
  h2{
    font-size: 6rem;
  }
  .print-img{
    margin-top: 5rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .techIcon {
    width: auto;
    height: 8rem;
    margin: 2rem;
  }
  .iTech{
    font-size: 8rem;
    margin: 2rem;
  }
}
@media(min-width: 700px){
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 6rem;
  }
  .print-img{
    margin-top: 5rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .techIcon {
    width: auto;
    height: 8rem;
    margin: 2rem;
  }
  .iTech{
    font-size: 8rem;
    margin: 2rem;
  } 
}
@media(max-width: 700px){
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2rem;
  }
  h4{
    font-size:1.4rem;
  }
  .print-img{
    margin-top: 4rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    width: auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .iTech{
    font-size: 4rem;
    margin: 1rem;
  }
  .techIcon {
    width: auto;
    height: 4rem;
    margin: 1rem;
  }
}