@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// font-family: 'Amatic SC', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Ruthie', cursive;
// font-family: 'Shadows Into Light', cursive;

body{
  background-color: rgb(209, 209, 209);
  background:  rgba(74, 74, 96, 0.584)!important;
  font-family: 'Montserrat', sans-serif;
}

h1{
  letter-spacing: 10px;
  color:lightgrey;
  // font-family: 'Amatic SC', cursive;
  font-family: 'Shadows Into Light', cursive;
}
h2{
  color: rgba(74, 74, 96, 0.9)!important;  
}
h3 {
  color: #ccc;
}

p{
  color:gray;
}
.navbar {
  background-color: rgba(74, 74, 96, 0.584)!important;
}
.navbar-brand {
  color: white;
}
.navbar-toggler{
  border-color: pink !important;
}
.nav-link {
  font-size: x-large;
  text-align: right;
  margin-left: 2rem;
  padding-top: 30px;
}
.navbar-light .navbar-nav .nav-link, .nav{
  color: ghostwhite;
}

.print-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

i{
  color: white;
}
.contactEmail:hover{
  color:#dea5A4;
  text-shadow: 0px 0px 8px lightgray;
}
.contactPhone:hover{
  color:#FFDD40;
  text-shadow: 0px 0px 8px lightgray;
}
.contactLinkedin:hover{
  color:#007bb5;
  text-shadow: 0px 0px 8px lightgray;
}
.contactGithub:hover{
  color:#43464B;
  text-shadow: 0px 0px 8px lightgray;
}
footer{
  background-color: rgba(74, 74, 96, 0.9)!important;
  width: 100vw !important;
}
@media(min-width: 1200px){
  .maxWidth{
    width: 1400px;
  }
  #content-wrap{
    display:flex;
    flex: wrap;
    justify-content: center;
}
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 4rem;
    margin: 2rem;
  }
  h3{
    font-size: 3rem;
  }
  .print-img{
    margin-top: 5rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .techIcon {
    width: auto;
    height: 8rem;
    margin: 2rem;
  }
  .iTech{
    font-size: 8rem;
    margin: 2rem;
  }
  .contact {
    font-size: 4vw;
    margin: 1rem;
  }
}

@media(min-width: 700px){
  .myContainer{
    margin: 5rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2.5rem;
    margin: 2rem;
  }
  h3{
    font-size: 1.4rem;
  }
  .print-img{
    margin-top: 5rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .techIcon {
    width: auto;
    height: 5rem;
    margin: 1rem;
  }
  .iTech{
    font-size: 5rem;
    margin: 2rem;
  } 
  .contact {
    font-size: 5vw;
    margin: 1rem;
  }
}

@media(max-width: 700px){
  .myContainer{
    margin: 3rem;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2rem;
    margin: 1.5rem;
  }
  h3{
    font-size:1rem;
  }
  .print-img{
    margin-top: 4rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    width: auto;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .iTech{
    font-size: 4rem;
    margin: 1rem;
  }
  .techIcon {
    width: auto;
    height: 4rem;
    margin: 1rem;
  }
  .contact {
    font-size: 5vw;
    margin: 1rem;
  }

}