@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// font-family: 'Amatic SC', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Ruthie', cursive;
// font-family: 'Shadows Into Light', cursive;

#aboutDiv:before { 
  display: block; 
  content: " "; 
  margin-top: -75px; // Set the Appropriate Height
  height: 75px; // Set the Appropriate Height
  visibility: hidden; 
}
#techDiv:before { 
  display: block; 
  content: " "; 
  margin-top: -30px; // Set the Appropriate Height
  height: 30px; // Set the Appropriate Height
  visibility: hidden; 
}
#projectsDiv:before { 
  display: block; 
  content: " "; 
  margin-top: -30px; // Set the Appropriate Height
  height: 30px; // Set the Appropriate Height
  visibility: hidden; 
}
body{
  background-color: rgb(209, 209, 209);
  background:  rgba(74, 74, 96, 0.584)!important;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
}
.myContainer{
  margin-bottom: 35px;
}
h1{
  color:lightgrey;
  // font-family: 'Amatic SC', cursive;
  font-family: 'Shadows Into Light', cursive;
}
h2{
  color: rgba(74, 74, 96, 0.9)!important;  
}
h3 {
  color: #ccc;
}
h4{
  color: rgba(74, 74, 96, 1)!important; 
}
p{
  color:gray;
}
.navbar {
  background-color: rgba(74, 74, 96, 0.584)!important;
}
.navbar-brand {
  color: white;
}
.navbar-toggler{
  border-color: pink !important;
}
.nav-link {
  font-size: x-large;
  text-align: right;
  margin-left: 2rem;
  padding-top: 30px;
}
.navbar-light .navbar-nav .nav-link, .nav{
  color: ghostwhite;
}

.print-img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 35px;
}
i{
  color: white;
}
.contactEmail:hover{
  color:#dea5A4;
  text-shadow: 0px 0px 8px lightgray;
}
.contactPhone:hover{
  color:#FFDD40;
  text-shadow: 0px 0px 8px lightgray;
}
.contactLinkedin:hover{
  color:#007bb5;
  text-shadow: 0px 0px 8px lightgray;
}
.contactGithub:hover{
  color:#43464B;
  text-shadow: 0px 0px 8px lightgray;
}
footer{
  background-color: rgba(74, 74, 96, 0.9)!important;
  width: 100vw !important;
  margin: 0;
}
footer{
  width: 100vw;
}

@media(min-width: 700px){
  .frame{
		width:90vw;
    height:40vw;
  }
  body{
     width: 100vw;
  } 
  .myContainer{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  h1{
    font-size: 2rem;
    letter-spacing: 7px;
  }
  h2{
    font-size: 2.5rem;
    margin: 2rem;
  }
  h3{
    font-size: 1.4rem;
  }
  p{
    font-size: .9rem;
   }
  .print-img{
    margin-top: 5rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .techIcon {
    width: auto;
    height: 5rem;
    margin: 1rem;
  }
  .iTech{
    font-size: 5rem;
    margin: 2rem;
  } 
  .contact {
    font-size: 5vw;
    margin: 1rem;
  }
}
@media(min-width: 1400px){
  .maxWidth{
    margin: 0 20vw;
  }
  h1{
    font-size: 4rem;
    letter-spacing: 7px;
  }
  h2{
    font-size: 3rem;
    margin: 2rem;
  }
  h3{
    font-size: 2rem;
  }
  h4{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
  }
  .print-img{
    margin-top: 8rem;
  }
  .container{
    width: 100%;
  }
  .moqupIcon{
    height: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .techIcon {
    width: auto;
    height: 8rem;
    margin: 2rem;
  }
  .iTech{
    font-size: 8rem;
    margin: 2rem;
  }
  .contact {
    font-size: 4vw;
    margin: 1rem;
  }
  .projects{
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
@media(max-width: 700px){
  .frame{
		width:90vw;
    height:40vw;
  }
  body{
     width: 100vw;
  } 
  h1{
    font-size: 2rem;
    letter-spacing: 4px;
  }
  h2{
    font-size: 2rem;
    margin: .5rem;
  }
  h3{
    font-size: 1rem;
  }
  p{
    font-size: .8rem;
   }

  .print-img{
    margin-top: 5rem;
  }
  .container{
    width: 100%;
  }
  .myContainer{
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .moqupIcon{
    height: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .50rem;
    margin-right: .50rem;
  }
  .techIcon {
    width: auto;
    height: 3rem;
    margin: .5rem;
  }
  .iTech{
    font-size: 3rem;
    margin: 1rem;
  } 
  .contact {
    font-size: 5vw;
    margin: 1rem;
  }

}
